<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fit In</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fitin.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div class="d-flex">
          <a href="/login">Log In</a>
        </div>
      </div>
    </nav>

    <div class="homepage-banner">
      <h3 class="text-center">
        Are you ready to <span style="color: #0da">Fit In</span> ?
      </h3>
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <a href="/login" class="small">Log In</a>
            <a href="/register" class="small">Register</a>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="text-center">Our Team</h1>
          <div class="card-group">
            <div class="card text-center mb-3" style="width: 25rem">
              <div class="card-body">
                <h5 class="card-title small">Borjan Georgievski</h5>
                <p class="card-text small">Scrum Master</p>
              </div>
            </div>

            <div class="card text-center mb-3" style="width: 25rem">
              <div class="card-body">
                <h5 class="card-title small">Blagoja Blazhevski</h5>
                <p class="card-text small">Software Lead</p>
              </div>
            </div>

            <div class="card text-center mb-3" style="width: 25rem">
              <div class="card-body">
                <h5 class="card-title small">Goce Lazarevski</h5>
                <p class="card-text small">Back-end Engineer</p>
              </div>
            </div>

            <div class="card text-center mb-3" style="width: 25rem">
              <div class="card-body">
                <h5 class="card-title small">Mario Gerasimoski</h5>
                <p class="card-text small">Testing & Delivery</p>
              </div>
            </div>

            <div class="card text-center mb-3" style="width: 25rem">
              <div class="card-body">
                <h5 class="card-title small">Nikola Atanasov</h5>
                <p class="card-text small">UI/UX Designer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bu   ndle.min.js"></script>
  </body>
</html>
